.sw #target-dropdown {
    background-color: white;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    max-height: 40vh;
    width: 200px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sw #effect-dropdown {
    background-color: white;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    max-height: 40vh;
    width: 200px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sw .effect-dropdown-item {
    padding: 4px 6px;
}

.sw .target-dropdown-item {
    padding: 4px 6px;
}

.sw td > input {
    line-height: 1.6;
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E%3Ctitle%3Edown%3C/title%3E%3Cpath d=%22M11.05 3.996l-.965-1.053-4.035 3.86-3.947-3.86L1.05 3.996l5 5 5-5%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: center;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: 4px 6px;
    width: 200px;
    box-sizing: border-box;
}

.sw #skillUrl {
    line-height: 1.6;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: 4px 6px;
    width: 200px;
    box-sizing: border-box;
}

.sw td > input:hover {
    background-color: #fff;
}

.sw .label {
    margin: 8px;
}

.sw button {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 6px 12px;
    color: #222;
    background-color: #f8f9fa;
    border-color: #a2a9b1;
    font-weight: bold;
    font-size: inherit;
}

.sw button[disabled] {
    background-color: #c8ccd1;
    color: #fff;
    border-color: #c8ccd1;
}

.sw button.add, #skillCopyUrl {
    background-color: #447ff5;
    border-color: #447ff5;
    color: #fff;
}

.sw .target-dropdown-item:hover {
    background-color: #eaecf0;
}

.sw .effect-dropdown-item:hover {
    background-color: #eaecf0;
}

.sw .border-red {
    border: 1px solid red;
}

.sw .skillIcon {
    width: 81px;
}

.sw .svt-icon {
    width: 81px;
}

.sw #result-tbody > tr > td {
    text-align: center;
}

.sw #skill-popup {
    width: 750px;
    border: 2px solid rgba(0, 8, 16, 0.15);
    display: none;
}

.sw #count {
    text-align: center;
}

body.skin-minerva {
    min-width: 780px;
}

.skin-minerva .sw td {
    font-size: 16px;
}

.sw .skin-minerva .sw th {
    font-size: 16px;
}

.skin-minerva .sw #skill-popup {
    background-color: white;
}

.sw #skillCopyUrl {
    width: 115px;
}